@font-face{
	font-family: "MarianinaFYW01-Thin";
    src: url("http://db.onlinewebfonts.com/t/20561c04ca7c2f2064a7c949f2329006.eot");
    src: url("http://db.onlinewebfonts.com/t/20561c04ca7c2f2064a7c949f2329006.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/20561c04ca7c2f2064a7c949f2329006.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/20561c04ca7c2f2064a7c949f2329006.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/20561c04ca7c2f2064a7c949f2329006.svg#MarianinaFYW01-Thin") format("svg");
    font-weight: normal;
	font-style: normal;

}